<h1>Editing Fermentable Addition</h1>

<%= render 'form', fermentable_addition: @fermentable_addition %>

<%= link_to 'Show', @fermentable_addition %> |
<%= link_to 'Back', fermentable_additions_path %>
